@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@docs.main("Fullstackdevelopment für Einsteiger") {

    <article>    <h1>Dokumentation</h1>

    <h2>Scala Basics</h2>

    <h4>Variablen</h4>

    <h4>Methoden</h4>

    <h4>Inferenz</h4>

    <h4>If</h4>

    <h4>For</h4>

    <h4>While</h4>

    <h4>Do-while</h4>

    <h4>Pattern-Matching</h4>

    <h4>Klasen und Objekte</h4>

    <h4>Vererbung</h4>

    <h4>Konstruktoren</h4>

    <h4>Sichtbarkeiten</h4>

    <h4>Traits</h4>


    <h2>PlayFramework-Grundlagen</h2>

        <h3>Was ist ein Framework</h3>

        <h3>Wozu benutzt man Frameworks</h3>

        <h3>Besonderheiten Play-Framework</h3>


    <h2>HTML-Grundlagen</h2>

    <h3>Grundgerüst</h3>

    <h4>Elemente</h4>

    <h4>Attribute</h4>

    <h3>CSS</h3>

    <h4>Background</h4>

    <h4>Color</h4>

    <h4>Font</h4>

    <h4>Font-Size</h4>

    <h4>Text-Align</h4>

    <h3>Formatting</h3>


    <h2>Test-Driven-Development</h2>

    <h4>Was ist TDD?</h4>

    <h4>Warum TDD?</h4>

    <h4>Test HelloWorld</h4>

    <h4>Einfache Test</h4>

    <h4>Controller-Tests</h4>

    <h4>View-Tests</h4>

    <h4>DB-Tests</h4>


    <h2>SQL</h2>

    <h4>Create User</h4>

    <h4>Create DB</h4>

    <h4>Drop DB</h4>

    <h4>Grant</h4>

    <h4>Select</h4>

    <h4>Insert</h4>

    <h4>Update</h4>

    <h4>Delete</h4>


    <h2>GIT</h2>

    <h4>Clone</h4>

    <h4>Pull</h4>

    <h4>Checkout</h4>

    <h4>Branches</h4>

    <h4>Gitlab und GitHub</h4>

    <h4>Remotes</h4>

    <h4>Add</h4>

    <h4>Commit</h4>

    <h4>Log</h4>

    <h4>Push</h4>


    <h2>Deployment</h2>

        <h3>Was bedeutet Deployment</h3>

        <h3>Welche Herausforderungen bestehen</h3>

        <h3>Deployment mit PlayFramework und SBT</h3>

        <h3>Modernes Deployment und Continous Integration</h3>

</article>
}
